* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.sidebar {
  background-color: #3b3b3b;
  width: 280px;
  position: relative; }
  .sidebar .bottom-panel {
    position: absolute;
    bottom: 10px;
    width: 100%;
    display: flex;
    justify-content: center; }
  .sidebar .button {
    border: none;
    padding: 5px 7px 5px 7px;
    box-shadow: 0px 1px 2px #5a5a5a; }
    .sidebar .button.bright {
      background-color: white; }
    .sidebar .button.dark {
      background-color: #3b3b3b; }
    .sidebar .button:hover {
      background-color: #57b419;
      box-shadow: 0px 1px 5px #5a5a5a; }
