$darkgrey: rgb(59, 59, 59);
$activegreen: rgb(87, 180, 25);
$white: white;
$black: black;
$shadow-gray: rgb(90, 90, 90);
$inactive-gray: rgb(168, 168, 168);
$unimportant-gray: rgb(95, 95, 95);

* {
  -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.tracker-form {
  & .item {
    display: flex;
    justify-content: space-between;

    &>.label {
      align-self: center;
    }

    &>.value {
      margin-left: 15px;
      width: 180px;
    }
  }

  .button {
    border: none;
    padding: 5px 7px 5px 7px;
    box-shadow: 0px 1px 2px $shadow-gray;
    background-color: $white;
    margin-left: 5px;

    &.bright {
      background-color: $white;
    }

    &.dark {
      background-color: $darkgrey;
      color: $white;
    }

    &:hover {
      background-color: $activegreen;
      color: $black;
      box-shadow: 0px 1px 5px $shadow-gray;
    }
  }

  & .button-panel {
    margin-top: 5px;
    display: flex;
    justify-content: flex-end;
  }
}
