$darkgrey: rgb(59, 59, 59);
$activegreen: rgb(87, 180, 25);
$white: white;
$shadow-gray: rgb(90, 90, 90);

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.panel {
  position: absolute;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-wrap: nowrap;
}
