* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.landing {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column; }
  .landing .header {
    height: 40%;
    min-height: 200px; }
  .landing .description {
    height: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 40px; }
