* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.map {
  width: 100%;
  display: block; }
  .map .leaflet-container {
    height: 100%;
    width: 100%; }
