* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.map {
  width: 100%;
  position: relative; }
  .map .leaflet-container {
    height: 100%;
    width: 100%; }
  .map .interaction-panel {
    position: absolute;
    z-index: 1000;
    top: 0;
    left: 0;
    width: 100%;
    pointer-events: none; }
    .map .interaction-panel .map-controls-container {
      margin: 10px 10px 10px 55px; }
      .map .interaction-panel .map-controls-container > .item {
        pointer-events: auto; }
    .map .interaction-panel .message-container {
      display: flex;
      justify-content: center;
      pointer-events: none; }
      .map .interaction-panel .message-container .message {
        pointer-events: auto;
        padding: 10px; }
        .map .interaction-panel .message-container .message.error {
          background-color: #D63A3A; }
  .map .button {
    border: none;
    padding: 5px 7px 5px 7px;
    box-shadow: 0px 1px 2px #5a5a5a;
    background-color: white; }
    .map .button.bright {
      background-color: white; }
    .map .button.dark {
      background-color: #3b3b3b; }
    .map .button:hover {
      background-color: #57b419;
      box-shadow: 0px 1px 5px #5a5a5a; }
